<h1 class="heading">Listing of Tags</h1>
<div id="tags_list" class="row">
  <% @tags.each do |tag| %>
    <div class="js-tag col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= link_to tag, images_path(tag: tag.name), class: 'btn btn-success js-tag-btn' %>
        <span class="js-tag-count">Count: <%= tag.taggings_count %></span>
    </div>
  <% end %>
</div>
