<%= link_to toggle_favorite_image_path(image),
            method: :post,
            remote: true,
            class: 'js-favorite-image btn btn-secondary' do %>
  <span class="js-favorite-fa fa fa-heart<%='-o' if !ImageFavorite.exists?(image: image, user: @current_user) %>"></span> Like
  <span class="js-favorite-count"><%= image.favorites_count %></span>
<% end %>
