<%= link_to 'Insert Image', new_image_path, class: 'btn btn-success pull-xs-right' %>

<h1 class="heading">Listing of Images</h1>

<div id="images_list" class="row">
  <% @images.each do |image| %>
    <div class="js-image-card col-sm-6 col-xs-12">
      <div class="card-block img-fluid" data-image-id="<%= image.id %>">
        <%= render image %>
      </div>
    </div>
  <% end %>
</div>
