<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="footer__heading">About</h1>
        <p>Ropes Onboarding Program<br>XXXXXXX</p>
      </div>

      <div class="col-sm-6">
        <h1 class="footer__heading">Contact</h1>
        <p>Email: xxxxxxxxx@appfolio.com<br>Phone: xxxxxxxx</p>
      </div>
    </div>
  </div>
</footer>
